*{
	margin:0px;
	padding:0px;
	
 	box-sizing: border-box ;
	border-spacing: 0px;
}
html{
	background-color:#CCCCCC;
}
body{
	width: 1200px;
	height:820px;
	margin: 0 auto;
	background-color: white;
	}
/*Barra fija*/

header{
	width: 1200px;
	height:100px;
	background-color:#CCCCCC;
}
#titulo{
	float: left;
	width:45%;
}
 h1{
	font-family: 'Montez', cursive;
	font-size: 300%;
	margin-top:15px;
	margin-left:23px;
	color:#424242;
}
#nav {
	width:55%;
	height:100%;
	float:left;
	color:white;
	
}
#nav ul{
	position:relative;
	top:40px;
	width:40%;
	height:50%;
	float:left;
}
#nav li{
	width:auto;
	height:100%;
	padding-left:10px;
		 
}
#nav a{
	margin-top:10px;
	text-align: center;
	color:#424242;
	font-size:100%;
	text-transform: uppercase;
	
}
#nav ul li{
	display:inline-block;
}
#nav ul li a{
	display:inline-block;
	text-decoration:none;	
	
}
#nav ul li a:hover{
	color:white;
}
#login{
	color:#424242;
}
#login ul{
	width:29%;
	float: left;
	position:relative;
	top:0px;
	padding-right:10px;
}
#login ul li input{
	width: 120%;
	border-radius:5px;
	
}
#login #sub{
	width: 150px;
}
#login #dos{
	position:relative;
	top:20px;
}
section{
	position: relative;
	width:100%;
	height:530px;
	
}
section ul li{	
	list-style:none;
	height: 40px;
	
}

section form{
	margin: 0 auto;
	border: 8px solid #424242;
	background-color: #CCCCCC;
	width: 500px;
	height: 430px;
	padding: 30px;
	border-radius: 4px;
	font-family: 'Montez', cursive;
	color:#424242;
	font-size:120%;
}
section fieldset{
	border: none;
}
section label{
	float: left;
	line-height: 2em;
	margin-left: 30px;
	
}
section .fo{
	float:right;
	width: 250px;
	border-radius: 4px;
}
section hr{
	width: 50%;
	margin:0;
}
section h1{
	text-align:center;
	margin-top:30px;
	margin-bottom: 30px;
}
/* Pie */
footer{
	margin-top:50px;
	width:100%;
	height:150px;
	
	
}
#barrafija a{
	background:#CCCCCC;
	width: 300px;
	height: 30px;
	display: block;
	position:fixed;
	bottom: 0;
	left:975px;
	text-align:center;
	color: #424242;
	font-family: 'Montez', cursive;
	border-radius: 10px;
	text-decoration:none;
	
}

footer p{
	color: #424242;
	font-family: 'Montez', cursive;
	font-size: 20px;
	margin-left: 20px;

}
/*Desplegables iconos */

ul.menured * {margin: 0 auto; padding: 0; text-indent: 0;
-moz-transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}

ul.menured {list-style: none; width: 1800px; max-width: 100%; margin: 0 auto; text-align: center;}

ul.menured li {position: relative; display:inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:44px; height: 44px; overflow: hidden; margin: 2px; padding:5px; border-radius: 44px; border: 1px solid transparent; background: #CCCCCC;
-moz-box-shadow: 1px 1px 3px #555; -webkit-box-shadow: 1px 1px 3px #555; box-shadow: 1px 1px 3px #555;}

ul.menured li a[class^=red] {position: absolute; top: 5px; left: 5px; display: block;width: 32px;height: 32px; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}

a.red1 {background:url(http://2.bp.blogspot.com/-BLOpL79hRq0/UdNeyumjXYI/AAAAAAAAK7E/4gCBEFR4JRk/s32/home.png) no-repeat;}
a.red2 {background:url(http://2.bp.blogspot.com/-rvP0hlwHzEk/UdNeoq9rEgI/AAAAAAAAK60/Nq_kzwUPiFY/s32/info.png) no-repeat;}
a.red3 {background:url(http://2.bp.blogspot.com/-5H9SkAxPuXQ/UdNep8XWLzI/AAAAAAAAK68/BkXJ4YvmGOg/s32/redes.png) no-repeat;}
a.red4 {background:url(http://4.bp.blogspot.com/-kyZIdwOjJmI/UdNen_SC6dI/AAAAAAAAK6s/BpmHTKLYkNg/s32/contacto.png) no-repeat;}

ul.menured li div {margin: 0px 8px 5px 38px; text-align: center;}
ul.menured li div h5 {text-align: left; text-transform: uppercase;}
ul.menured li div a {display: inline;margin: 0 3px;font-size: 12px; color: #F36900;}

ul.menured div a:hover {color: #424242;}
ul.menured li:hover {width:240px;}
ul.menured li:hover a[class^=red] {-moz-transform: rotate(720deg); -webkit-transform: rotate(720deg); transform: rotate(720deg);}

.clear{
	clear: both;
}
footer p{
	color: #424242;
	font-family: 'Montez', cursive;
	font-size: 20px;
	margin-left: 20px;

}
/*Desplegables iconos */

ul.menured * {margin: 0 auto; padding: 0; text-indent: 0;
-moz-transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}

ul.menured {list-style: none; width: 1800px; max-width: 100%; margin: 0 auto; text-align: center;}

ul.menured li {position: relative; display:inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:44px; height: 44px; overflow: hidden; margin: 2px; padding:5px; border-radius: 44px; border: 1px solid transparent; background: #CCCCCC;
-moz-box-shadow: 1px 1px 3px #555; -webkit-box-shadow: 1px 1px 3px #555; box-shadow: 1px 1px 3px #555;}

ul.menured li a[class^=red] {position: absolute; top: 5px; left: 5px; display: block;width: 32px;height: 32px; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}

a.red1 {background:url(http://2.bp.blogspot.com/-BLOpL79hRq0/UdNeyumjXYI/AAAAAAAAK7E/4gCBEFR4JRk/s32/home.png) no-repeat;}
a.red2 {background:url(http://2.bp.blogspot.com/-rvP0hlwHzEk/UdNeoq9rEgI/AAAAAAAAK60/Nq_kzwUPiFY/s32/info.png) no-repeat;}
a.red3 {background:url(http://2.bp.blogspot.com/-5H9SkAxPuXQ/UdNep8XWLzI/AAAAAAAAK68/BkXJ4YvmGOg/s32/redes.png) no-repeat;}
a.red4 {background:url(http://4.bp.blogspot.com/-kyZIdwOjJmI/UdNen_SC6dI/AAAAAAAAK6s/BpmHTKLYkNg/s32/contacto.png) no-repeat;}

ul.menured li div {margin: 0px 8px 5px 38px; text-align: center;}
ul.menured li div h5 {text-align: left; text-transform: uppercase;}
ul.menured li div a {display: inline;margin: 0 3px;font-size: 12px; color: #F36900;}

ul.menured div a:hover {color: #424242;}
ul.menured li:hover {width:240px;}
ul.menured li:hover a[class^=red] {-moz-transform: rotate(720deg); -webkit-transform: rotate(720deg); transform: rotate(720deg);}

.clear{
	clear: both;
}
